#current-spots {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 70px 10% 0 10%;
}
#current-spot-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
}

@media screen and (min-width: 1570px){
    #current-spot-tiles {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1570px){
    #current-spot-tiles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1070px){
    #current-spot-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 870px){
    #current-spot-tiles {
        grid-template-columns: repeat(1, 1fr);
    }
}
