.manage-spot-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 330px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}

.manage-spot-tile-link1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 330px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}


.manage-spot-tile-image {
    width: 270px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.manage-spot-tile-preview-information {
    display: flex;
    flex-direction: column;
    width: 100%
}

.manage-spot-tile-city-state-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 3px;
}

.manage-spot-tile-price {
    display: flex;
    justify-content: left;
    margin: 3px;
}

.manage-spot-tile-stars {
    margin: 3px;
}

#manage-spot-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
}

.manage-spot-tile-update-delete {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 12px 0;
    margin: 0;
}



.manage-spot-tile-update {
    display: flex;
    height: 20px;
    width: 60px;
    font-size: 15px;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: black 2px solid;
    margin-right: 5px;
    background-color: rgb(117, 112, 112);
    color: white;
    box-shadow: 2px 3px 0px black;
    padding: 0;
}

.manage-spot-tile-update-delete button {
    display: flex;
    height: 25px;
    width: 60px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: black 2px solid;
    margin-right: 5px;
    padding: 0;
    background-color: rgb(117, 112, 112);
    color: white;
    box-shadow: 2px 3px 0px black;
}
.manage-spot-tile-update-delete2 {
    display: flex;
    flex-direction: row;
}
