#sign-up {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign-up-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sign-up-form input {
    height: 20px;

}
#sign-up-form label {
    margin-bottom: 10px;
}

#sign-in-button {
    width: 100%;
    height: 30px;
    box-shadow: 2px 4px 0px rgb(111, 106, 106);
    background-color: #FF5A5F;
    color: white;
}

#sign-up h1 {
    padding: 0 0 20px 0;
    margin: 0;
}

#sign-up ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 14px;
    color: #FF5A5F;
}

#sign-up li {
    padding: 0 0 5px 0;
    margin: 0px;
}


#sign-up-form button:disabled {
    opacity: 0.5;
}

#sign-up-form input[type="text"]:valid[minlength="1"] + input[type="password"]:valid[minlength="1"] + button:disabled {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}
.profile-dropdown-container {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 150px;
}

.dropdown-menu-display {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

#profile-button {
    margin-right: 20px;
    width: 60px;
    height: 27px;
    border-radius: 8px;
}

#profile-email, #profile-manage-spots {
    display: flex;
    justify-content: center;
    border-bottom: black 2px solid;
    margin: 0px;
    padding: 0px 0px 10px 0px;
    width: 100%;
}

#profile-manage-spots {
    padding-top: 5px;
}

#profile-manage-spots a {
    text-decoration: none;
    color: black;
}
.profile-dropdown-container-logout-button {
    border-radius: 2px;
}

#log-out-button {
    display: flex;
    position: relative;
    top: 7px;
    left: 40px;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    border-radius: 10px;
    background-color: gray;
    color: white;
    height: 30px;
}
#profile-username {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
