.hidden {
    display: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 75px;
    padding: 0 200px;
    margin: 0;
    z-index: 1000;
}

.nav-bar a {
    text-decoration: none;
}
.nav-bar {
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: rgb(199, 187, 187) 2px solid;
}

#breezebnb-title {
    position: relative;
    right: 10px;
    color: #FF5A5F;
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
    bottom: 0px;
}

#nav-bar-logo {
    height: 60px;
    rotate: 180deg;
}


#home-path {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
}

#home-path {
    position: absolute;
    overflow: hidden;
    height: 100%;
    top: 0px;
}

#create-spot-button {
    color: #333;;
    background-color: white;
    border: none;
    font-size: 16px;
    margin-right: 20px;
}
.login-signup button, .login-signup a, .logged-in a {
    background-color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}
.login-signup button:hover, .login-signup a:hover, .logged-in a:hover, #create-spot-button:hover {
    color:#FF5A5F;
}
